<div class="span9">
    <div class="page-header">
        <h1>Editar Automovil</h1>
    </div>
    <form class="producto form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label">Patente:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="CXRX88">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Marca:</label>
                <div class="controls">
                    <select class="input-xlarge">
                        <option value="1">Chevrolet</option>
                        <option value="2">Toyota</option>
                        <option value="3">Tesla Motors</option>
                        <option value="4">Ford</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Modelo:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="Sali">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Color:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="Plata">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Año:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="2011">
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </fieldset>
    </form>
</div>