<div class="span9">
    <div class="page-header">
        <h1>Ver Automovil</h1>

        <div align="right">
            <button class="btn btn-primary">Repuestos</button>
            <button class="btn btn-primary">Editar</button>
        </div>

    </div>

    <label class="control-label">Patente: CXRX88</label> <br>
    <label class="control-label">Marca: Chevrolet</label> <br>
    <label class="control-label">Modelo: Sali</label> <br>
    <label class="control-label">Color: Plata</label> <br>
    <label class="control-label">Año: 2011</label><br>
    <label class="control-label">Repuestos: 1 Bombilla</label>
    <label class="control-label">          2 Pastilla de freno</label>
</div>
