<div class="span9">
    <div class="page-header">
        <h1>Ver Repuesto</h1>

        <div align="right">
            <button class="btn btn-primary">Automoviles</button>
            <button class="btn btn-primary">Editar</button>
        </div>

    </div>

    <label class="control-label">Nombre: Pastilla de freno</label> <br>
    <label class="control-label">Precio: 20.000</label> <br>
    <label class="control-label">Stock: 10</label> <br>

</div>
