@model TallerMecanico.Models.Marca

@Html.ValidationSummary()

<div class="span9">
    <div class="page-header">
        <h1>Editar Marca</h1>
    </div>
    <form method="POST" class="form-horizontal" action="@Url.Action("Edit","Marcas")">
            <input type="hidden" value="@Model.Id" name="Id" />
        <fieldset>
                <div class="control-group">
                    <label class="control-label">Nombre:</label>
                    <div class="controls">
                        <input class="input-xlarge" name="Nombre" type="text" value="Chevrolet">
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </fieldset>
        </form>
</div>