<div class="span9">
    <div class="page-header">
        <h1>Editar Marca</h1>
    </div>
    <form class="form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label">Nombre:</label>
                <div class="controls">
                    <input class="input-xlarge" type="text" value="Chevrolet">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </fieldset>
    </form>
</div>