@model TallerMecanico.Models.Marca

@Html.ValidationSummary()

<div class="span9">
    <div class="page-header">
        <h1>Ver Marca</h1>
    </div>
    <form method="POST" class="form-horizontal" action="@Url.Action("Ver","Marcas")">
        <input type="hidden" value="@Model.Id" name="Id" />
        <fieldset>
            <div class="control-group">
                <label class="control-label">Nombre:</label>
                <div class="controls">
                    <input class="input-xlarge" name="Nombre" type="text" value="@Model.Nombre" disabled>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Volver</button>
            </div>
        </fieldset>
    </form>
</div>